<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Project Timeline</title>
  <%= requirejs_include_tag "project_app" %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "bootstrap-responsive" %>
  <%= stylesheet_link_tag "storymap" %>

  <style type="text/css">

  </style>

  <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"/>

</head>
<body>
<div id="viewporter">
  <div id="topmenu"><%= render :file => '/project/menu' %></div>

  <div id="container" class="container">
    <div id="main" role="main">

      <div class="page-header">
        <h2>Projects
          <small></small>
          <div class="toolbar" style="float: right"><a class="btn" id="addProject">Add Project</a></div>
        </h2>
      </div>

      <div class="row-fluid">
        <div class="span12">
          <ul class="thumbnails" id="projects">

          </ul>

        </div>
      </div>

    </div>
    <!--/row-->

  </div>
</div>
</body>
</html>