<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Project Profile</title>
  <%= requirejs_include_tag "project_profile_app" %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "bootstrap-responsive" %>
  <%= stylesheet_link_tag "storymap" %>

  <style type="text/css">

  </style>

  <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"/>

</head>
<body>
<div id="viewporter">
  <div id="topmenu"><%= render :file => '/project/profile_menu' %></div>

  <div id="container" class="container">
    <div id="main" role="main">

      <div class="page-header">
        <h2><%= @project.name %>
          <small><%= @project.desc %></small>
          <div class="toolbar" style="float: right"><a class="btn" id="someButton">Some Button</a></div>
        </h2>
      </div>

      <div class="row-fluid">
        <div class="span9 well project_desc">
          <a class="more">expand</a>
          <%= markdown(@project.description) %></div>
        <div class="span2 well"> Nav</div>
      </div>
      <div class="row-fluid">
        <div class="span9 well tasks">
          <div class="page-header">
            <h2>Tasks
              <small>LFG Branding Framework</small>
            </h2>
            <div class="taskList">
              <label class="checkbox">
                 <input type="checkbox"> Setup Sass
               </label>
              <span style="position: relative;left: 20px;background-color: #ffffff; width: 100%">test test test test test <test></test></span>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!--/row-->

  </div>
</div>
</body>
</html>